doctype html
html(lang='en')
    head
        title COSC203: Birds of Aotearoa
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/styles/layout.css')
        link(rel='stylesheet', href='/styles/theme.css')
        link(rel='stylesheet', href='/styles/conservation-status.css')
        link(rel='stylesheet', href='/styles/cards.css')
        script(defer, src='/scripts/populate_form.js')
    body
        include templates/header.pug
        aside
            a(href='/')
                button(type="button") Home
        main
            form(action='/birds/create' method='POST' enctype="multipart/form-data")
                fieldset
                    legend Common Names
                    label(for='primary_name') Primary Name
                    input(type='text' name='primary_name' value required)
                    label(for='english_name') English Name
                    input(type='text' name='english_name' value required)
                    label(for='other_names') Other Names 
                    textarea(name="other_names", cols="50", rows="10") 
                fieldset 
                    legend Taxonomy
                    label(for='scientific_name') Scientific Name
                    input(type='text' name='scientific_name' value required)
                    label(for='order') Order
                    input(type='text' name='order' value required)
                    label(for='family') Family
                    input(type='text' name='family' value required)
                fieldset 
                    legend Size 
                    label(for='length') Length (cm)
                    input(type='number' name='length' value required)
                    label(for='weight') Weight (g)
                    input(type='number' name='weight' value required)
                fieldset 
                    legend Conservation 
                    label(for='status') Status
                    select(name='status' id="status")
                        option(value="Not Threatened") Not Threatened
                        option(value="Naturally Uncommon") Naturally Uncommon
                        option(value="Relict") Relict
                        option(value="Recovering") Recovering
                        option(value="Declining") Declining
                        option(value="Nationally Increasing") Nationally Increasing
                        option(value="Nationally Vulnerable") Nationally Vulnerable
                        option(value="Nationally Endangered") Nationally Endangered
                        option(value="Nationally Critical") Nationally Critical
                        option(value="Data Deficient") Data Deficient
                fieldset 
                    legend Photo 
                    label(for='photo_credit') Photo Credit
                    input(type='text' name='photo_credit' value required)
                    label(for='photo_upload') Upload New Photo
                    input(type='file' name='photo_upload' id="photo_upload")
                    label(for='photo_preview') Photo Preview 
                    img(src="/birds/images/undefined", alt="Photo of a bird")
                    input(id='upload_source' type="text" name='photo_source' readonly="readonly")
                button(type='submit') SAVE BIRD
        include templates/footer.pug